/* Basic style */
body 
{
    /*background: url('img/fond.png') repeat;*/
    background-color:grey;
}
.jumbo-fond 
{
    background-color: rgba(255,255,255,0.8);
    font-size:10px;
    text-align:justify;
}

.jumbo-fond a
{
    color: black;
    font-size:10px;
}

.jumbotron h1
{
        margin-bottom:10px;
        margin-top:5px;
        
}
.resume
{
        font-size:10px;
        color :black;
        text-decoration:underline;
}

/* Images */
img 
{
    width: 100%;
}
.lg-art
{
    width:70px;
    height:70px;
    border:none;
}
/*Galleries photos*/
div#galerie
{
  width: 80% ;
  background: rgba(0,0,0,0.8) ;
  border: 1px solid #dcb ;
  padding: 15px ;
  margin: 15px 30px ;
  text-align: center ;
  font: 0.9em Georgia, serif ;
}

ul#galerie_mini
{
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;
}

ul#galerie_mini li
{
  float: left ;
}

ul#galerie_mini li a img
{
  margin: 2px 1px ;
  border: 1px solid #dcb ;
}

dl#photo
{
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt
{
  font: italic 2.5em/1.5em Georgia, serif ;
  color: #dcb ;
}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{
  border: 1px solid #dcb ;
}

/*Footer*/
footer
{
    padding-bottom:0px;
    padding-top:15px;
    Background-color:white;
    font-size:10px;
}